// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// base spacing
$base-spacing: 20px;

// Font Sizes
$font-size-base: 16px;
$font-size-small: 14px;
$font-size-large: 20px;
$font-size-x-large: 24px;
$font-size-xx-large: 32px;

// Font Weights
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-light: 300;

// Border Radius
$border-radius-small: 2px;
$border-radius-medium: 4px;
$border-radius-large: 8px;

// Border Width
$border-width-thin: 1px;
$border-width-medium: 2px;
$border-width-thick: 4px;

// Border Color
$border-color-light: $gray-light;
$border-color-dark: $gray-dark;


// Z-Index
$z-index-low: 100;
$z-index-medium: 500;
$z-index-high: 1000;
$z-index-top: 2000;
   